*{
    margin: 0;
    padding: 0;
}
.top-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.top-title{
    background:#009d4d;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: sans-serifs;
  
}






/*footer */
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: whitesmoke;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 9px rgb(94, 88, 88);
}
