/* @import url("https//cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"); */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Oswald:wght@200;300;400;500;600;700&display=swap');


.contest{
    background: black;
    color: white;
    padding-top: 10px;    
}
.contests{
    display: flex;
    align-items: center;
    padding:10px;
    gap: 24px;
}
.start{
    padding: 10px 10px 10px 60px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}
.sunday-gap{
    padding-right: 5px;
}
.party{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: lowercase;
}
.sun-contest{
    /* background: whitesmoke; */
    /* box-shadow: 0px 0px 8px black; */
    padding: 15px 0px 0px 10px;
    font-size: 20px;
    font-weight: 500;
}
.pool{
    font-size: 15px;
    font-weight: 700;
}
.only{
    background: linear-gradient(to left, whitesmoke,white);
    box-shadow:0px 0px 9px #c7bbbb;
    background: linear-gradient(to right,whitesmoke,rgb(192, 185, 185));
    padding: 10px;
    color: black;
    font-size: 12px;
}
.contest-des{
    box-shadow: 0px 0px 9px #c7bbbb;
    padding: 10px 20px 10px 20px;
    margin: 15px 10px 15px 10px;
    border-radius: 5px;
}
.contest-card{
text-decoration: none;
color: black;
}
.contest-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.contest-prize{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.live{
    color: red;
    position: relative;
}
.pay{
    border: none;
    outline: none;
    background: green;
    border-radius: 5px;
    padding: 3px 20px 3px 20px;
    cursor: pointer;
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.pay-len{
    border: none;
    outline: none;
    background: green;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 10px auto;
    display: block;
    text-align: center;
}
progress{
    width:100%;
    background: grey;
    height: 5px;
}
progress::-webkit-progress-value{
    background:linear-gradient(to right,orange,rgb(240, 36, 36));
    border-radius: 10px;

    
    
}
.players{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 5px;
}
.total-player{
    color: red;
}
.contest-bottom{
   padding: 15px 0px 0px  0px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.first-price{
    display: flex;
    gap: 20px;
    align-items: center;

}
.back-arrow{
    color: white;
}
.mark{
    display: flex;
    gap: 10px;
    align-items: center;
}
.search-icon{
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background: white;
    margin: 10px;
    box-shadow: 0px 0px 9px rgb(214 214 214);
}
.search{
    border: none;
    outline: none;
    width: 270px;
    background: white;
    padding-left: 20px;
    font-size: 14px;
    color:black;
    



}
.player{
    padding-top: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

}
.bg{
    background: #f9f9f9;
    padding: 7px 10px 7px 10px;
    border-bottom: 0.5px solid #f9f9f9;
    border-top: 0.5px solid #f9f9f9;
    margin-top: 20px;
}
.margin{
    margin: 10px;
}
.sunprice{
    font-weight: 700;
}
.tabs{
    margin-top: 20px;
}
.wal{
    text-align: center;
    color: gray;
}
.wa{
    text-align: center;
    padding: 20px 0px 0px 20px;
    color: gray;
}
.wait-ogo{
    margin-bottom: 200px;
}
.wait-pic{
 margin: 0 auto;
 justify-content: center;
 display: flex;
}
.pool-pay{
    margin: 10px auto;
    display: block;
    background: green;
    padding: 10px 40px 10px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}