
table{
    margin-bottom: 100px;

}
th,td{
    border-bottom:1px solid rgb(197, 191, 191);
    color: black;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    border-collapse: collapse;

}

.rank{
    padding-right: 240px;
}
.css-19kzrtu{
    padding: 0!important
}
.tab-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.won{
    color: green;
}
.all-player{
    padding-right: 190px;
}


@media screen and (max-width:800px){
    th,td{
        overflow-x: scroll;
    }
}